<form>
  <br />
  <br />
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-6">
          <input id="file-upload" type="file" (change)="fileUpload($event)" name="fileUpload" accept=".csv" />
          <input type="button" (click)="onSubmit()" value="submit" />
        </div>

        <div class="col-md-6" *ngIf="!ShowStudent">
          <button type="button" (click)="ShowStudents()" class="btn btn-info">List Students</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="ShowStudent === true">
    <div class="col-md-10 offset-md-1">

      <table class='table bg-white table-bordered table-hover mt-3'>
        <thead class="thead-white border-0 text-info">
          <tr>
            <th class="border-right-0">First Name</th>
            <th class="border-right-0 border-left-0">Last Name</th>
            <th class="border-right-0 border-left-0">Student Number</th>
            <th class="border-right-0 border-left-0">Corse Code</th>
            <th class="border-right-0 border-left-0">Course Descriprion</th>
            <th class="border-right-0 border-left-0">Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of list">
            <td class="text-dark">{{student.firstName}}</td>
            <td class="border-right-0 border-left-0">{{student.surname}}</td>
            <td class="border-right-0">{{student.studentNumber}}</td>
            <td class="border-right-0 border-left-0">{{student.courseCode}}</td>
            <td class="border-right-0 border-left-0">{{student.courseDescription}}</td>
            <td class="border-right-0 border-left-0">{{student.grade}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</form>
